.navbar {
  background-color: rgb(215, 85, 107);
  height: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
form {
  border: 1px solid black;
  border-radius: 10px;
  /* width:100%; */
  padding: 20px;
}
.form legend {
  font-size: 25px;
  text-align: center;
}
.form input,
select {
  margin-bottom: 10px;
  margin-top: 20px;
}
.form button {
  width: 100%;
  background-color: rgb(215, 85, 107);
  padding: 10px;
  border-radius: 10px;
  border: none;
  color:white;
}
.history-container {
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 50px; */
  /* width: 100%; */
  padding: 10px;
}
